In [74]:
import numpy as np

In [75]:
import pandas as pd

In [76]:
import matplotlib.pyplot as plt

In [77]:
import seaborn as sns

In [78]:
df= pd.read_csv("merged_data_tweets.csv")

In [79]:
df.head()

,text,created_at,user_id_str,Firmen
0,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 03:59:03+00:00,1938270918,AAPL
1,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 03:29:29+00:00,1933063572,AAPL
2,"['itv', 'will', 'boost', 'apple', 'URL', '$', ...",2014-01-01 18:08:47+00:00,23059499,AAPL
3,"['iphone', 'users', 'are', 'more', 'intelligen...",2014-01-01 01:52:31+00:00,23954327,AAPL
4,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 01:18:36+00:00,1937591882,AAPL

In [80]:
df.shape

(63730, 4)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63730 entries, 0 to 63729
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   text         63730 non-null  object
 1   created_at   63730 non-null  object
 2   user_id_str  63730 non-null  int64
 3   Firmen       63730 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.9+ MB

In [82]:
duplicate_rows = df[df["text"].duplicated(keep='first')]

In [83]:
len(duplicate_rows)

21084

In [84]:
#es wurde festgestellet, dass unsere DatensÃ¤tze sich wiederholen.
print(duplicate_rows)

                                                    text  \
1      ['rt', 'AT_USER', 'summary', 'of', "yesterday'...
4      ['rt', 'AT_USER', 'summary', 'of', "yesterday'...
7      ['rt', 'AT_USER', 'summary', 'of', "yesterday'...
15     ['rt', 'AT_USER', 'our', 'top', '3', 'trade', ...
16     ['rt', 'AT_USER', 'our', 'top', '3', 'trade', ...
...                                                  ...
63710  ['are', 'u', 'ready', 'for', 'the', 'next', 'b...
63711  ['URL', 'learn', 'the', 'exact', 'trading', 's...
63712  ['can', 'anyone', 'challenge', "amazon's", 'e-...
63715  ['perplexing', 'how', 'the', 'feds', 'have', '...
63724  ['wmt', 'wal-mart', 'stores', ',', 'inc', '.',...

                      created_at  user_id_str Firmen
1      2014-01-01 03:29:29+00:00   1933063572   AAPL
4      2014-01-01 01:18:36+00:00   1937591882   AAPL
7      2013-12-31 23:10:08+00:00   1864753100   AAPL
15     2014-01-02 20:29:42+00:00   1964840965   AAPL
16     2014-01-02 19:23:00+00:00   2200941410   AAPL
...                          ...          ...    ...
63710  2015-12-14 18:31:18+00:00    803698826    WMT
63711  2015-12-15 03:02:50+00:00   3269380080    WMT
63712  2015-12-17 14:40:56+00:00   1544270486    WMT
63715  2015-12-21 15:17:55+00:00    207630487    WMT
63724  2015-12-26 11:03:15+00:00   2863026998    WMT

[21084 rows x 4 columns]

In [85]:
df["text"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 63730 entries, 0 to 63729
Series name: text
Non-Null Count  Dtype
--------------  -----
63730 non-null  object
dtypes: object(1)
memory usage: 498.0+ KB

In [86]:
df["text"].nunique()

42646

In [87]:
df["text"].value_counts()

text
['rt', 'AT_USER', '$', 'amzn', 'in', 'talks', 'to', 'buy', '$', 'grpn', 'for', '7b', '.', '$', 'fb', 'should', 'have', 'bought', 'them', 'instead', 'of', 'oculus', '.', 'will', '$', 'goog', 'step', 'in', '?']                                       1797
['rt', 'AT_USER', '$', 'amzn', 'amazon', 'in', 'talks', 'to', 'buy', '$', 'grpn', 'groupon', 'for', '7b', 'over', '$', '8', 'a', 'share', '!', '!', 'will', '$', 'fb', 'facebook', 'or', '$', 'goog', 'google', 'step', 'in', '?', 'grouponm', 'â€¦']     930
['l', '$', 'd']                                                                                                                                                                                                                                         410
['rt', 'AT_USER', 'a', '$', 'ap', 'rocky', '-', 'l', '$', 'd', 'URL']                                                                                                                                                                                   382
['rt', 'AT_USER', 'check', 'out', 'our', 'very', 'latest', 'stock', 'options', 'positions', 'URL', '$', 'pcln', '$', 'aapl', '$', 'spy', '$', 'mu', '$', 'fb', '$', 'nflx', '$', 'tsla', '$', 'amzn', 'â€¦']                                              246
                                                                                                                                                                                                                                                       ...
['one', 'month', 'chart', 'of', '$', 'amzn', 'is', 'hilarious', '.', "you'd", 'think', 'bezos', 'was', 'piloting', 'the', 'hindenburg', 'with', 'all', 'the', 'noise', 'lately', '.']                                                                     1
['$', 'amzn', '-', '3d', 'printing', 'companies', 'slip', 'on', 'new', 'amazon', 'store', '->', 'URL', 'stock', 'stocks', 'stockaction']                                                                                                                  1
['$', 'amzn', '-', 'red', 'ocean', ':', 'can', 'amazon', ',', 'microsoft', ',', 'and', 'google', 'profit', 'from', '$', '100', 'billion', '...', '->', 'URL', 'stock', 'stocks', 'stockaction']                                                           1
['is', '$', 'amzn', 'a', 'buy', '?', 'suntrust', 'robinson', 'humphrey', 'thinks', 'so', ':', 'URL']                                                                                                                                                      1
['wmt', 'top', 'news', '-', 'dec', '30th', ',', '2015', '$', 'wmt', 'URL']                                                                                                                                                                                1
Name: count, Length: 42646, dtype: int64

In [88]:
#df = df.drop_duplicates()

In [89]:
#df = df["text"].drop_duplicates()

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63730 entries, 0 to 63729
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   text         63730 non-null  object
 1   created_at   63730 non-null  object
 2   user_id_str  63730 non-null  int64
 3   Firmen       63730 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.9+ MB

In [91]:
df.head()

,text,created_at,user_id_str,Firmen
0,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 03:59:03+00:00,1938270918,AAPL
1,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 03:29:29+00:00,1933063572,AAPL
2,"['itv', 'will', 'boost', 'apple', 'URL', '$', ...",2014-01-01 18:08:47+00:00,23059499,AAPL
3,"['iphone', 'users', 'are', 'more', 'intelligen...",2014-01-01 01:52:31+00:00,23954327,AAPL
4,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 01:18:36+00:00,1937591882,AAPL

In [92]:
df.describe()

        user_id_str
count  6.373000e+04
mean   1.507366e+09
std    1.143013e+09
min    9.890000e+02
25%    2.558797e+08
50%    1.729116e+09
75%    2.476972e+09
max    4.620549e+09

In [93]:
df.shape

(63730, 4)

In [94]:
df.head(10)

,text,created_at,user_id_str,Firmen
0,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 03:59:03+00:00,1938270918,AAPL
1,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 03:29:29+00:00,1933063572,AAPL
2,"['itv', 'will', 'boost', 'apple', 'URL', '$', ...",2014-01-01 18:08:47+00:00,23059499,AAPL
3,"['iphone', 'users', 'are', 'more', 'intelligen...",2014-01-01 01:52:31+00:00,23954327,AAPL
4,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 01:18:36+00:00,1937591882,AAPL
5,"['2013', 'wrap-up', 'and', 'trading', 'set', '...",2014-01-01 10:52:20+00:00,23059499,AAPL
6,"['apple', 'screwed', 'up', 'big', 'time', 'URL...",2014-01-01 15:01:12+00:00,23669783,AAPL
7,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2013-12-31 23:10:08+00:00,1864753100,AAPL
8,"['$', 'aapl', '-', 'wall', 'st', '.', 'kicks',...",2014-01-02 15:45:02+00:00,153395860,AAPL
9,"['rt', 'AT_USER', ""here's"", 'how', 'apple', 'c...",2014-01-02 04:31:32+00:00,1653399757,AAPL

In [95]:
#
# df.describe()

In [96]:
df["text"].value_counts()

text
['rt', 'AT_USER', '$', 'amzn', 'in', 'talks', 'to', 'buy', '$', 'grpn', 'for', '7b', '.', '$', 'fb', 'should', 'have', 'bought', 'them', 'instead', 'of', 'oculus', '.', 'will', '$', 'goog', 'step', 'in', '?']                                       1797
['rt', 'AT_USER', '$', 'amzn', 'amazon', 'in', 'talks', 'to', 'buy', '$', 'grpn', 'groupon', 'for', '7b', 'over', '$', '8', 'a', 'share', '!', '!', 'will', '$', 'fb', 'facebook', 'or', '$', 'goog', 'google', 'step', 'in', '?', 'grouponm', 'â€¦']     930
['l', '$', 'd']                                                                                                                                                                                                                                         410
['rt', 'AT_USER', 'a', '$', 'ap', 'rocky', '-', 'l', '$', 'd', 'URL']                                                                                                                                                                                   382
['rt', 'AT_USER', 'check', 'out', 'our', 'very', 'latest', 'stock', 'options', 'positions', 'URL', '$', 'pcln', '$', 'aapl', '$', 'spy', '$', 'mu', '$', 'fb', '$', 'nflx', '$', 'tsla', '$', 'amzn', 'â€¦']                                              246
                                                                                                                                                                                                                                                       ...
['one', 'month', 'chart', 'of', '$', 'amzn', 'is', 'hilarious', '.', "you'd", 'think', 'bezos', 'was', 'piloting', 'the', 'hindenburg', 'with', 'all', 'the', 'noise', 'lately', '.']                                                                     1
['$', 'amzn', '-', '3d', 'printing', 'companies', 'slip', 'on', 'new', 'amazon', 'store', '->', 'URL', 'stock', 'stocks', 'stockaction']                                                                                                                  1
['$', 'amzn', '-', 'red', 'ocean', ':', 'can', 'amazon', ',', 'microsoft', ',', 'and', 'google', 'profit', 'from', '$', '100', 'billion', '...', '->', 'URL', 'stock', 'stocks', 'stockaction']                                                           1
['is', '$', 'amzn', 'a', 'buy', '?', 'suntrust', 'robinson', 'humphrey', 'thinks', 'so', ':', 'URL']                                                                                                                                                      1
['wmt', 'top', 'news', '-', 'dec', '30th', ',', '2015', '$', 'wmt', 'URL']                                                                                                                                                                                1
Name: count, Length: 42646, dtype: int64

In [97]:
# hier werden die Duplikaten entfernt
#duplicate_rows = df[df["text"].duplicated(keep='first')]
Einzeldaten=df.drop(duplicate_rows.index)

In [98]:
Einzeldaten.head()

,text,created_at,user_id_str,Firmen
0,"['rt', 'AT_USER', 'summary', 'of', ""yesterday'...",2014-01-01 03:59:03+00:00,1938270918,AAPL
2,"['itv', 'will', 'boost', 'apple', 'URL', '$', ...",2014-01-01 18:08:47+00:00,23059499,AAPL
3,"['iphone', 'users', 'are', 'more', 'intelligen...",2014-01-01 01:52:31+00:00,23954327,AAPL
5,"['2013', 'wrap-up', 'and', 'trading', 'set', '...",2014-01-01 10:52:20+00:00,23059499,AAPL
6,"['apple', 'screwed', 'up', 'big', 'time', 'URL...",2014-01-01 15:01:12+00:00,23669783,AAPL

In [99]:
Einzeldaten.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42646 entries, 0 to 63729
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   text         42646 non-null  object
 1   created_at   42646 non-null  object
 2   user_id_str  42646 non-null  int64
 3   Firmen       42646 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [100]:
Einzeldaten["text"].nunique()

42646

In [101]:
#Die beide Merkmale (created_at und user ) sind nicht relevant fÃ¼r das Sentiment Analysis  
Neu_df= Einzeldaten.drop(columns=["created_at","user_id_str"], axis=1)

In [102]:
Neu_df.head()

                                                text Firmen
0  ['rt', 'AT_USER', 'summary', 'of', "yesterday'...   AAPL
2  ['itv', 'will', 'boost', 'apple', 'URL', '$', ...   AAPL
3  ['iphone', 'users', 'are', 'more', 'intelligen...   AAPL
5  ['2013', 'wrap-up', 'and', 'trading', 'set', '...   AAPL
6  ['apple', 'screwed', 'up', 'big', 'time', 'URL...   AAPL

In [103]:
type(Neu_df)

pandas.core.frame.DataFrame

In [104]:
Neu_df.value_counts()

text                                                                                                                                                                                                    Firmen
["accelerize's", 'cake', 'takes', 'stage', 'at', "marketo's", 'sxsw', 'engagement', 'lounge', 'URL', '$', 'aclz', 'at', '$', '1.50', '(', 'up', '+7.14', '%', ')', 'saas', '$', 'mkto', '$', 'orcl']    ORCL      1
['rt', 'AT_USER', "facebook's", 'market', 'cap', 'is', 'roughly', 'equivalent', 'of', 'american', 'express', 'and', 'ups', 'combined', '.', 'URL', '$', 'axp', '$', 'ups', '$', 'fb']                   META      1
['rt', 'AT_USER', "facebook's", 'mobile', 'ad', 'sales', 'jump', ',', 'pushing', 'up', 'earnings', ',', 'but', 'shares', 'drop', 'on', 'expense', 'increases', 'URL', '$', 'fb', 'URL']                 META      1
['rt', 'AT_USER', "facebook's", 'mobile', 'daily', 'active', 'users', 'are', 'up', '39', '%', 'from', 'a', 'year', 'ago', '.', '$', 'fb', 'â€™', 's', 'results', 'in', '6', 'charts', ':', 'URL', 'URL']  META      1
['rt', 'AT_USER', "facebook's", 'mobile', 'daily', 'active', 'users', 'grew', 'to', '745', 'million', ',', 'rising', '34', '%', 'from', 'last', 'year', '.', 'URL', '$', 'fb', 'URL']                   META      1
                                                                                                                                                                                                                 ..
['URL', 'bobirw', ':', 'add', 'short', '1000', '$', 'intc', 'at', '29.59', ':', 'bobirw', 'URL', 'URL']                                                                                                 INTC      1
['URL', 'bobirw', ':', 'bot', '1000', '$', 'aapl', 'at', '99.77', ':', 'bobirw', 'URL', 'URL']                                                                                                          AAPL      1
['URL', 'bobirw', ':', 'bot', '1000', '$', 'baba', 'at', '109.35', ':', 'bobirw', 'URL', 'URL']                                                                                                         BABA      1
['URL', 'bobirw', ':', 'bot', '1000', '$', 'baba', 'at', '75.06', ':', 'bobirw', 'URL', 'URL']                                                                                                          BABA      1
['ðŸš¨', 'impacto', 'collor', '18/10', 'ðŸš¨', 'convites', 'do', 'lote', 'promocional', 'comigo', ':', '30', '$', 'p', 'e', '50', '$', 'v', 'boraaaaa', 'ðŸ’¥', 'URL']                                           V         1
Name: count, Length: 42646, dtype: int64

In [105]:
Neu_df.nunique()

text      42646
Firmen       20
dtype: int64

In [106]:
Neu_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42646 entries, 0 to 63729
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    42646 non-null  object
 1   Firmen  42646 non-null  object
dtypes: object(2)
memory usage: 999.5+ KB

In [107]:
Neu_df['text'] = Neu_df['text'].str.replace(r"[',]", '', regex=True)

In [108]:
Neu_df.head()

                                                text Firmen
0  [rt AT_USER summary of "yesterdays" webcast fe...   AAPL
2            [itv will boost apple URL $ aapl apple]   AAPL
3  [iphone users are more intelligent than samsun...   AAPL
5  [2013 wrap-up and trading set review - part ii...   AAPL
6      [apple screwed up big time URL $ amzn $ aapl]   AAPL

In [109]:
Neu_df.to_csv("DataFrame.csv", index=False)

In [110]:
Neu_df.head(25)

                                                 text Firmen
0   [rt AT_USER summary of "yesterdays" webcast fe...   AAPL
2             [itv will boost apple URL $ aapl apple]   AAPL
3   [iphone users are more intelligent than samsun...   AAPL
5   [2013 wrap-up and trading set review - part ii...   AAPL
6       [apple screwed up big time URL $ amzn $ aapl]   AAPL
8   [$ aapl - wall st . kicks off new year on lowe...   AAPL
9   [rt AT_USER "heres" how apple could be making ...   AAPL
10  [rt AT_USER our top 3 trade ideas for 2014 and...   AAPL
11     [AT_USER $ aapl having breathing difficulties]   AAPL
12  [emylers : "cheekys" board ! : $ aapl up to da...   AAPL
13  [$ aapl blackberry and singer alicia keys to p...   AAPL
14  [$ aapl - chinas xiaomi says to more than doub...   AAPL
17  [what are your top picks for q1 2014 ? here ar...   AAPL
19  [$ aapl us stocks-wall st kicks off new year o...   AAPL
20  [rt AT_USER apple gained 8 % in 2013 vs s & "p...   AAPL
23  [$ aapl - apple will be the main victim of mic...   AAPL
24  [new education : supply / demand zones  accumu...   AAPL
25  [i bought a new tv this year . would probably ...   AAPL
26  [$ aapl [ video ] apple denies working with ns...   AAPL
27    [$ aapl cleaning the mobile germ warehouse URL]   AAPL
28  [$ aapl kara swisher and walt mossberg launch ...   AAPL
29  [$ aapl "lets" not let the wf downgrade oversh...   AAPL
30  [will 2014 be "apples" " year of innovation " ...   AAPL
31  [$ aapl - pre-market : apple downgraded on mar...   AAPL
32  [big "tunas" stocks - $ aapl daily chart ~ ran...   AAPL

In [112]:
Neu_df.loc[31]

text      [$ aapl - pre-market : apple downgraded on mar...
Firmen                                                 AAPL
Name: 31, dtype: object

In [115]:
# Das Symbol "$" bezieht sich auf Emojis, daher ist es sinnvoll, es aus dem Text zu entfernen.
Neu_df['text'] = Neu_df['text'].str.replace(r"[$]", '', regex=True)

In [116]:
Neu_df.head()

                                                text Firmen
0  [rt AT_USER summary of "yesterdays" webcast fe...   AAPL
2             [itv will boost apple URL  aapl apple]   AAPL
3  [iphone users are more intelligent than samsun...   AAPL
5  [2013 wrap-up and trading set review - part ii...   AAPL
6        [apple screwed up big time URL  amzn  aapl]   AAPL

In [117]:
Neu_df["text"]= Neu_df["text"].str.replace(r"URL",'', regex=True)

In [118]:
Neu_df.head(10)

                                                 text Firmen
0   [rt AT_USER summary of "yesterdays" webcast fe...   AAPL
2                 [itv will boost apple   aapl apple]   AAPL
3   [iphone users are more intelligent than samsun...   AAPL
5   [2013 wrap-up and trading set review - part ii...   AAPL
6            [apple screwed up big time   amzn  aapl]   AAPL
8   [ aapl - wall st . kicks off new year on lower...   AAPL
9   [rt AT_USER "heres" how apple could be making ...   AAPL
10  [rt AT_USER our top 3 trade ideas for 2014 and...   AAPL
11      [AT_USER  aapl having breathing difficulties]   AAPL
12  [emylers : "cheekys" board ! :  aapl up to dat...   AAPL

In [120]:
Neu_df.to_csv("dataframe2.csv", index=False)